{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./sys.config","releases/0.0.1/sys.config"},
          {copy,"./boot_shim","bin/tokyoex_handson_demo"},
          {copy,"./boot_shim.bat","bin/tokyoex_handson_demo.bat"},
          {copy,"./boot","releases/0.0.1/tokyoex_handson_demo.sh"},
          {copy,"./boot.bat","releases/0.0.1/tokyoex_handson_demo.bat"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/rel/.files/vm.args",
                "releases/0.0.1/vm.args"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/.compile.protocols",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/.compile.protocols"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Collectable.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.DBConnection.Query.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.DBConnection.Query.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Ecto.DataType.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Ecto.DataType.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Ecto.Queryable.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Enumerable.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.IEx.Info.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Inspect.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.List.Chars.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Phoenix.HTML.Safe.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Phoenix.Param.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Phoenix.Param.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Plug.Exception.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Plug.Exception.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Poison.Decoder.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.Poison.Encoder.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/consolidated/Elixir.String.Chars.beam",
                "lib/tokyoex_handson_demo-0.0.1/consolidated/Elixir.String.Chars.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{tokyoex_handson_demo,"0.0.1"},
         [{tokyoex_handson_demo,"0.0.1"},elixir,iex,sasl]}.

{lib_dirs,["/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/_build/dev/lib",
           "/Users/matsuo/develop/elixir/phoenix/tokyoex_handson_demo/deps",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.4.2/bin/../lib/mix/ebin"]}.

